annotated-doc
annotated-types
anyio
av
certifi
charset-normalizer
click
ctranslate2
fastapi
faster-whisper
filelock
flatbuffers
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mpmath
networkx
numpy
ollama
ollama-python
onnxruntime
packaging
pillow
protobuf
pydantic
pydantic_core
Pygments
PyYAML
requests
responses
rich
setuptools
shellingham
sniffio
starlette
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
triton
typer
typing_extensions
typing-inspection
urllib3
uvicorn
websocket
yt-dlp